<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Register</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body>
        <div class="register">
            <h1>Register</h1>
            <div class="links">
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}" class="active">Register</a>
            </div>
            <form action="{{ url_for('register') }}" method="post" autocomplete="off">
                <label for="email">
                </label>
                <input  type="email" name="email" placeholder="Email" id="email" required>
                <input type="text" name="register" id="regester" value="regester" hidden>
                <label for="password">
                </label>
                <input type="password" name="password" placeholder="Password" id="password" required>
                <label for="full_name">
                </label>
                <input type="text" name="full_name" placeholder="full_name" id="full_name" required>
                <label for="Gender">
                    <input type="radio" name="Gender" value="M" required>M    
                    <input type="radio" name="Gender" value="F" required>F
                </label>
                <label for="Address1">
                </label>
                <input type="text" name="Address1" placeholder="Address1" id="Address1" required>
                <label for="Address2">
                </label>
                <input type="text" name="Address2" placeholder="Address2" id="Address2" required>
                <label for="district">
                </label>
                <input type="text" name="district" placeholder="district" id="district" required>
                <label for="state">
                </label>
                <input type="text" name="state" placeholder="state" id="state" required>
                <label for="Country">
                </label>
                <input type="text" name="Country" placeholder="Country" id="Country" required>
                <label for="Date Of Birth">
                </label>
                <input type="date" name="date of birth" placeholder="date of birth" id="date of birth" required>
                <label for="occupation">
                </label>
                <input type="text" name="occupation" placeholder="occupation" id="occupation" required>
                <label>Role Details: </label>
                        <select name="role details" required>
                            <option value="">select the roles</option>
                            <option value="Adopters">Adopters</option>
                            <option value="Donar">Donar</option>
                        </select>
                <div class="msg">{{ msg }}</div>
                <input type="submit" name="submit" value="submit">
            </form>
        </div>
    </body>
</html>